.bg-secondary {
    background-color: #12002b;
    padding-bottom: 50px;
    /* margin-top: 20px; */
}

.edit-button {
    padding: 15px 15px;
    border: 1px solid #00bc77;
    color: white;
    margin-right: 15px;
    background-color: #00bc77;
    border-radius: 5px;
    box-shadow: 2px 2px 2px #888888;
    cursor: pointer;

}

.edit-button:hover {
    transform: scale(1.1);
}

.text-dark {
    color: white;
    padding-top: 21px;
    
}

.prenom {
    padding: 11px;
    border: 1px solid lightgray;
    border-radius: 5px;
    margin-right: 10px;
}

.nom {
    padding: 11px;
    border: 1px solid lightgray;
    border-radius: 5px;
}

.input-container {
    display: flex;
    align-items: center;
    justify-content:center;
    margin-bottom: 20px;
}

.save-button {
    padding: 15px 25px;
    border: 1px solid #00bc77;
    color: white;
    margin-right: 15px;
    background-color: #00bc77;
    border-radius: 5px;
    box-shadow: 2px 2px 2px #888888;
    cursor: pointer;
}

.save-button:hover {
    transform: scale(1.1);
}

.cancel-button {
    padding: 15px 25px;
    border: 1px solid #00bc77;
    color: white;
    background-color: #00bc77;
    border-radius: 5px;
    box-shadow: 2px 2px 2px #888888;
    cursor: pointer;
}

.cancel-button:hover {
    transform: scale(1.1);
}

.btn-container {
    display: flex;
    align-items: center;
    justify-content:center;
    margin-bottom: 20px;
}

.account {
    border: 1px solid lightgray;
    display: flex;
    flex-direction: row;
    box-shadow: 2px 2px 2px #888888;

}

.account-content-wrapper {
    width: 85% !important;
}

.cta {
    width: 15% !important;
}

.transaction-button {
    padding: 11px 5px;
    border: 1px solid #00bc77;
    color: white;
    background-color: #00bc77;
    border-radius: 5px;
    font-weight: 500;
    cursor: pointer;
    box-shadow: 2px 2px 2px #888888;

}

.transaction-button:hover {
    transform: scale(1.1);
}

.balance {
    font-size: 2.5rem;
    font-weight: 700;
    margin-top: 0;
    margin-bottom: 0;
}

@media (max-width: 920px) {
    .account {
        display: block;
    }
.cta {
    width: 100% !important;
}

}